<!doctype html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter"
    />
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <link rel="stylesheet" href="/public/css/app.css" />
    <title>{% block title %}{{ title }}{% endblock %} - {{ crate::APP_NAME }}</title>
  </head>
  <body class="bg-gray-100 w-full min-h-screen font-inter antialiased text-slate-600">
    {% include "components/header.html" %}
    <main
      id="main"
    >
      {% block main %} {% endblock %}
    </main>
  </body>
</html>
