{% extends "layouts/guest.html" %}
{% block title %}{{ data.title }}{% endblock %}
{% block main %}
<div class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-sm w-full">
        <div class="flex justify-center mb-6">
            <span class="inline-block bg-gray-200 rounded-full p-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"/></svg>
            </span>
        </div>
        <h2 class="text-2xl font-semibold text-center mb-4">Создать новый аккаунт</h2>
        <p class="text-gray-600 text-center mb-6">Введите ваши данные для регистрации.</p>
        <form hx-post="/auth/register" hx-ext="json-enc">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-semibold mb-2">Имя пользователя</label>
                <input type="text" name="username" class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-0x1 focus:shadow-purple-700/10" required placeholder="Джеймс Грант">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-semibold mb-2">Пароль</label>
                <input type="password" name="password" class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-0x1 focus:shadow-purple-700/10" required placeholder="*********">
                <p class="text-gray-600 text-xs mt-1">Должен содержать 1 заглавную букву, 1 цифру, минимум 8 символов.</p>
            </div>
            <button type="submit" class="w-full bg-purple-600 text-white px-4 py-2 rounded-lg hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-700 focus:ring-opacity-50">Зарегистрироваться</button>
        </form>
    </div>
</div>
{% endblock %}